// Font families

$style1: 'Khand', sans-serif;
$style2: 'IM Fell French Canon SC', serif;
$style3: 'Parisienne', cursive;
$style4: 'Nanum Myeongjo', serif;
$style5: 'Share Tech Mono', monospace;


// Font sizes (responsive)

$mobile: 2em;
$laptop: 10em;
$desktop: 17em;